@font-face {
    font-family: Ffont;
    src: url(../../arcanum_order/Arcanum_Order.ttf);
}

h2 {
    font-family: Ffont;
    font-size: 3rem;
}

.container {
    padding: 5% 0%;
   
}

.location_contact {
    
    padding: 0% 2%;
    margin: 0%;
}

p {
    width: 100%;
    margin: 0% 0% 1%;
    color: #597387;
}

iframe {
    width: 100%;
    height: 21vw;
    margin: 10% 0%;
}

//border for all
iframe,
textarea,
input {
    border: #597387 solid 1px!important;
}

input {
    margin: 0% 0% 5%!important;
    padding: 3% 2%;
}

label {
    margin: 0% 0% 5%;
}

textarea {
    margin-bottom: 2%;
}

#check_box {
    padding: 20px!important;
}

#subscribe_box {
    margin-left: 3%;
}

#submit_button {
    width: 100%;
    margin: 10% auto 0%;
}

form{
    background: rgba(252, 252, 252, 0.918);
}