<div class="ct m-auto">
    <div class="hero-img">
        <div class=" hero-text text-center m-auto" style="width: 25rem;">
            <div class="cc d-none  d-lg-block ">
                <h4>get the chance </h4>
                <b><h1 >to meet the other side of your city</h1></b>
                <button routerLink="/prints" type="button" class="btn btn-outline-dark fw-bolder mt-3 button_style">to my prints</button>
                <!-- <a routerLink="/contact" class="btn btn-outline-light">Contact me</a> -->
            </div>



        </div>
    </div>
    <h1 class="mt-5 text-center ft"> Portfolio</h1>
    <div class=" res-lg res-md-sm ">

        <div class="img-wrap mt-5">
            <h2 class="d-lg-none mb-3">Streetart & Dance </h2>
            <a routerLink="/people">
                <img src="assets/streetart/manonhouse2.jpg" alt="manonhouse" class="w-100">
                <p class="img-description">Streetart & Dance</p>

            </a>

        </div>
        <div class="img-wrap my-5">
            <h2 class="d-lg-none mb-3"> Concerts & Events</h2>
            <a routerLink="/events">
                <img src="assets/concerts/concert9.jpg" alt="concert" class=" w-100">
                <p class="img-description">Concerts & Events</p>
            </a>

        </div>

    </div>
</div>