<div class="container m-auto">
    <div class="bio_position">
        <h2 class="ft">Hi there, this is Jane Doe!</h2>
        <div class="row about">
            <img src="assets/jane-doe-bio.jpg" alt="" class="col-lg-6 col-md-12 col-sm-12 round my-3 ">

            <ul class="col-lg-6 col-md-12 col-sm-12 list my-3">
                <p class="paragraph bio_subtitle mb-1 mt-2">Little about me</p>
                <li class="paragraph"> I am a Theatre, Film and Media Studies graduate of the University of Vienna. I create photos about the urban in citiy live. I always strive to get things right in-camera and is known meticulous attention to detail.I am also known for my
                    upbeat playlists, boundless energy and the remarkable high number of sneakers in my wardrobe.</li>
                <div class="row">


                    <li class="paragraph col-lg-4 col-md-4 col-sm-8 "> <span class="bio_subtitle">Favorite motives</span>
                        <ul>
                            <li>Streetart</li>
                            <li>Concerts</li>
                            <li>Events with lots of people</li>
                            <li>People in the streets</li>
                            <li>And sometimes Animals</li>
                        </ul>
                    </li>
                    <li class="paragraph col-lg-4 col-md-4 col-sm-8 "><span class="bio_subtitle">Tools</span>
                        <ul>
                            <li>Canon Eos 90D</li>
                            <li>Nikon L35 AF</li>
                            <li>Leica D-Lux 7</li>
                            <li>Adobe Creative Suite</li>
                            <li>Macbook Pro(2021)</li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>

        <!-- optional -->
        <div class="awards">
            <h3 class="ft">Awards</h3>
            <div class="d-flex justify-content-around">
                <img src="assets/awards/fapa.png" class="w-25" alt="" srcset="">
                <img src="assets/awards/sony.jpg" class="w-25" alt="" srcset="">
                <img src="assets/awards/ipa.png" class="w-25" alt="" srcset="">
            </div>
        </div>
    </div>
</div>