<div class=" card bg-dark text-white ">

    <div class="card-img-overlay text-center">
    <div class="intro_text lh-base">
      <h6 class="card-title fw-lighter animate__animated animate__fadeIn animate__delay-2s">Welcome to</h6>
      <h1 class="card-title animate__animated animate__fadeIn animate__delay-2s">Telescope</h1>
      <hr class=" m-auto  animate__animated animate__zoomInDown animate__delay-3s animate__slow">
      <div class="d-flex justify-content-center">
      <p class="card-text text-center p-0 animate__animated animate__fadeIn animate__delay-5s mt-5"><a routerLink="/portfolio"><span class="card-text btn button_style px-5 py-0 mx-5 fw-bold">Portfolio </span></a> <a routerLink="/contact"><span class="card-text btn button_style px-5 py-0 mx-5 fw-bold">Contact</span></a></p>
    </div>
</div>
    </div>
</div>